*{
    color: black !important; 
    font-family: 'Sofia Sans', sans-serif;
}

body{
    background-color: rgb(5, 59, 80);
}

.main{
    background-color: rgb(23, 107, 135);
    box-shadow: 0px 0px 40px 20px rgb(238, 238, 238);
}

.card{
    background-color: rgb(100, 204, 197);
    height: 200px;
}

.card-img-top{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.input{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}